#student {position:absolute;top:300;left:250;}
#client{position:absolute;top:300;left:550;}
#form{padding:10px;}
.id{margin-top:0px;font-size:20;font-family:"Georgia";}
#age{margin-top:20;font-size:20;font-family:"Georgia";}
#login{padding:20;}